.popular_services{
	margin-top: 0.5%;
	width: 74%;
	height: 65%;
	float:left;
}
.services_block_name{
	width: 100%;
	height: 5%;
	font: 175% sans-serif;
	text-align: center;
	margin-top: 2%;
}
.all_services{
	width: 100%;
	height: 100%;
	margin-top: 1%;
	margin-left: %;
}
.services_conf{
	position: relative;
	width: 95%;
	height: 90%;
	margin-left: 2%;
	padding-top: 3%;
}
.service_1{
	position: absolute;
	float: left;
	width: 100%;
	height: 100%;
}
.service_2{
	position: absolute;
	float: left;
	width: 100%;
	height: 100%;
	margin-left: 33%;
}
.service_3{
	position: absolute;
	width: 100%;
	height: 100%;
	float: left;
	margin-left: 66%;
}
.service{
	overflow: hidden;
	width: 27%;
	height: 50%;
	margin-top: 3%;
	margin-left: 5.9%;
	/*display: inline-block;*/
	border-radius: 7px;
	box-shadow: 0 0 20px grey;
	transition: box-shadow 0.3s ease-in-out;
}
.service:hover{
	box-shadow:0 0 2px black;
}
.service > a{
	text-decoration: none;
	display: block;
	text-align: center;
	height: 100%;
}
.pod_service{
	width: 100%;
	height: 100%
}
.pod_service > img {
	width: 100%;
	height: 45%;
}
.summary_service{
	width: 90%;
	height: 10%;
	margin-left: 5%;
	margin-top: -5%;
	color: #0467FB;
	text-align: left;
}
.summary_service > p{
	width: 100%;
	height: 100%;
}
.service_info{
	width: 90%;
	height: 40%;
	margin-top:12%;
	margin-left: 6%;
	color: black;
	text-align: left;
}
.service_info > p{
	/*font-size: 90%;*/
	font: 78% sans-serif;
}
.button_services{
	position: relative;
	width: 100%;
	height: 7%;
	margin-top: 20%;
}
.all_services_button{
	margin-left: 42%;
	margin-top: 3%;
	width: 20%;
	height: 100%;
	background: #0467FB;
	border-radius: 5px;
}
.all_services_button > a{
	text-align: center;
	text-decoration: none;
	color: white;
	display: block;
}
.all_services_button > a > h4{
	padding-top: 9%;
}