*{
	padding: 0;
	margin: 0;
}
.main_container{
	width: 100%;
	height: 800px;
}
.head{
	width: 100%;
	height: 15%;
}
.pod_head{
	width: 70.5%;
	height: 100%;
	margin-left: 15.5%;
	box-shadow: 0 0 7px grey;
}
.logo{
	float: left;
	margin-top: -%;
	margin-left: 3%;
	width: 22%;
	height: 90%;
	overflow: hidden;
	/*background: url("../images/logo.png");*/
	/*background: black;*/
	background-size: cover;
}
.logo > img {
	width:100%;
	height:100%;
}	
.block_info{
	float: right;
	width: 66%;
	margin-right: 1%;
	height: 95%;
	/*box-shadow: 0 0 7px grey;*/
	/*border: 1px solid grey;*/
}
.menu{
	margin-top: 0.7%;
	width: 100%;
	height: 21%;
}
.main_menu{
	margin-left: 2%;
	width: 100%;
	height: 100%;
}
.main_menu > li{
	width: 23%;
	height: 100%;
	float: left;
	margin-left: 1%;
	display: table-cell;
	background: #0467FB;
	text-align: center;
	box-shadow: 0 0 5px grey;
}
.main_menu > li > a{
	display: block;
	color: white;
	text-decoration: none;
	font: 104% sans-serif;
	margin-top: 2%;
}
/**************************************/
/* ********************************** */
.block_contacts_in_head{
	width: 100%;
	height: 100%;
	margin-top: 2%;
}
.phone{
	float: left;
	width: 30%;
	height: 100%;
	margin-left: 3%;
	margin-top: 1%;
}
.phone > a{
	text-decoration: none;
	color: black;
}
.phone > a > h4{
	font: 115% sans-serif;
}
.addres{
	float: left;
	width: 35%;
	height: 100%;
	margin-left: -3%;
	margin-top: 1%;
}
.addres > a{
	text-decoration: none;
	color: black;
}
.addres > a > h4{
	font: 115% sans-serif;
}
.schedule{
	float: right;
	margin-top: 1%;
	width: 30%;
}
.schedule > a{
	text-decoration: none;
	color: black;
}
.schedule > a > h4{
	font: 115% sans-serif;
}

/* *********************************** */
/* Конфигурация блока услуг в СИНЕЙ ПОЛОСЕ */
.services{
	float: left;
	margin-top: 0.4%;
	width: 100%;
	height: 8.7%;
	background: #0467FB;
	box-shadow: 0 0 5px grey;
}
.services_in_top{
	width: 80%;
	height: 100%;
	margin-left: 10%;
}
.service_img{
	width: 12%;
	height: 90%;
	margin-left: 6%;
	display: inline-block;
	overflow: hidden;
}
.service_img > a > img{
	width: 25%;
	height: 50%;
	margin-left: 40%;
	margin-top: 5%;
}
.service_img > a > img:hover{
	/*background: #08298A;*/
}
.service_img_info{
	color: white;
	font: 100% sans-serif;
	width:100%;
}
.service_img_info > a{
	margin-left: 7%;
	width:100%;
}
.container_blog_services{
	width: 75%;
	height: 125%;
	margin-left: 11.5%;
}

/* Конфигурация блока с картой, блогом и погодой */
.block_blog_map_weather{
	float: right;
	margin-right: 0.1%;
	margin-top: 0.2%;
	width: 25%;
	height: 70%;
}
/* *********************************************** */
/* *********** Отрисовка блока БЛОГА   ******* */
.block_blog{
	overflow-y: auto;
	overflow-x: hidden;
	/*float: right;*/
	width: 100%;
	height: 100%;
	box-shadow: 0 0 10px grey;
}
.block_name_block{
	width: 100%;
	height: 7%;
	background: #0467FB;
	font-size: 170%;
	border-top: 0.2px solid white;
	border-bottom: 0.2px solid white;
}
.block_name_block > a{
	text-decoration: none;
	color: white;
}
.block_name_block > a > h4{
	margin-top: 2%;
	height: 100%;
	text-align: center;
	font: 90% sans-serif;
}
.blog_post{
	width: 100%;
	height: 20%;
	border-bottom: 0.02px solid grey;
}
.blog_img{
	float: left;
	width: 30%;
	height: 80%;
	margin-top: 2%;
	margin-left: 3%;
	overflow: hidden;
	border: 1px solid #F2F2F2;
	background: black;
}
.blog_img > img{
	width: 100%;
	height: 100%;
}
.blog_info{
	float: right;
	width: 65%;
	height: 80%;
	margin-top: 2%;
	margin-right: 1%;
	/*background: black;*/
}
.summary{
	width: 100%;
	height: 35%;
	font-size: 70%;
	margin-left: 1%;
	background: #F2F2F2;
}
.summary > a {
	color: #0467FB;
	/*margin-top: 10%;*/
	text-decoration: none;
}
.info{
	width: 100%;
	height: 64%;
	margin-top: 5%;
	margin-left: 1%;
	font: 65% sans-serif;
	/*background: black;*/
}

.blog_link{
	width: 30%;
	height: 10%;
	float: right;
	margin-right: ;
	margin-top: %;
	font: 65% sans-serif;
}
.blog_link > a{
	color: black;
}
/* ************************************ */

/* Конфигурация блока карты */
.map{
	float: right;
	left: 71%;
	top: 30.5%;
	margin-top: 2%;
	width: 100%;
	height: 35%;
	box-shadow: 0 0 10px grey;
}
.map_name{
	margin-top: 0.2%;
	width: 100%;
	height: 14%;
	background: #0467FB;
}
.map_name > a{
	height: 100%;
	display: block;
	text-align: center;
	color: white;
	text-decoration: none;
}
.map_name > a > h4{
	font: 106% sans-serif;
}
.map_img{
	margin-top: 0.2%;
	width: 100%;
	height: 85%;
}
.contacts{
	width: 63%;
	height: 55%;
	/*margin-top: -4%;*/
	margin-left: 7%;
}
.footer{
	width: 100%;
	height: 33%;
	margin-top: 2%;
	background: black;
	opacity: 0.9;
}